repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: run-tests
        name: Run tests
        entry: ./run-tests.sh 
        language: script
        pass_filenames: false
        always_run: true
